@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSansRegular.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/OpenSansBold.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSansLight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/OpenSansLightItalic.woff") format("woff");
}
@font-face {
  font-family: "ProximaNovaRegular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ProximaNovaRegular.woff") format("woff");
}
