.container {
  width: 320px;
  margin: 0 auto;
  padding: 18px 10px;
  @media @tablet-widths {
    width: 768px;
    padding: 18px 30px;
  }
  @media @desktop-widths {
    width: 983px;
    padding: 0 50px;
  }
}

.container-fluid {
  width: auto;
  @media @tablet-widths {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
