/* ------------------------------------------ */
/* FOOTER BLOCK
/* ------------------------------------------ */
.footer {
  background-color: @background-dark;

  &__container {
    .container();
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__contacts {
  text-align: center;
  position: relative;
  margin-bottom: 20px;

  a {
    display: block;
    font-weight: 800;
    font-size: 15px;
    color: @white;
    text-decoration: none;
    margin-bottom: 16px;
  }

  span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: @footer-font;
  }
}

.footer__adress {
  font-weight: 300;
  font-size: 14px;
  color: @footer-font;
  margin-bottom: 44px;

  &::after {
    content: "";
    position: absolute;
    bottom: 26px;
    left: 35px;
    height: 1px;
    width: 230px;
    background-color: @footer-line;
    opacity: 0.84;
  }
}

.footer__nav {
  margin-bottom: 20px;
  text-align: center;

  h3 {
    font-size: 15px;
    line-height: 14px;
    font-weight: 800;
    color: @white;
    margin-bottom: 14px;
  }
}

.footer__links {
  list-style: none;

  li {
    margin-bottom: 15px;
  }

  a {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-decoration: none;
    color: @footer-font;
  }
}

.footer__copyright {
  text-align: center;

  span {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: @footer-font;
  }

  a {
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: @salad;
    text-decoration: none;
  }
}
@media @tablet-widths {
  .footer__contacts {
    float: left;
    width: 50%;
  }

  .footer__adress {
    &::after {
      left: 60px;
    }
  }

  .footer__nav {
    float: left;
    width: 50%;
  }

  .footer__links {
    display: inline-block;
    vertical-align: top;

    li {
      display: inline-block;
      vertical-align: top;
      width: 49%;
    }
  }

  .footer__copyright {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
  }
}
@media @desktop-widths {
  .footer {
    padding-top: 46px;
    padding-bottom: 40px;
  }

  .footer__contacts {
    text-align: left;
    margin: 0;
    width: 455px;

    a {
      margin-bottom: 11px;
    }
  }

  .footer__adress {
    margin-bottom: 40px;
  }

  .footer__adress {
    &::after {
      bottom: 30px;
      left: 2px;
      width: 354px;
    }
  }

  .footer__nav {
    margin: 0;
    width: auto;
    text-align: left;
  }

  .footer__links {
    width: 357px;
    display: inline-block;
    vertical-align: top;

    li {
      display: inline-block;
      vertical-align: top;
      width: 47%;
      text-align: left;
      margin-bottom: 9px;
    }
  }

  .footer__copyright {
    width: 171px;
    display: inline;
    float: left;
    text-align: left;
    padding-top: 82px;
    padding-left: 2px;
  }
}
