/* ------------------------------------------ */
/* NEWS BLOCK
/* ------------------------------------------ */
.news {
  background-color: @background-dark;
  color: @white;
  padding: 45px 0;
  background-image: url("../img/santa.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.news__container {
  .container();
}

.news__header {
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: @white;
  margin-bottom: 45px;

  span {
    color:@salad;
  }
}

.news__comment {
  font-weight: 300;
  font-size: 15px;
  color: @white;

  margin-bottom: 35px;
}

.news__hashtag {
  font-weight: 300;
  font-size: 15px;
  color: @salad;
  margin-right: 5px;
  margin-bottom: 35px;
}

.news__btn {
  font-weight: 300;
  font-size: 15px;
  color: @salad;
  text-decoration: none;
  border: 1px solid @salad;
  padding: 9px 16px;
  padding-right: 55px;
  max-width: 181px;
}
